@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* ----------------------------- */
/* Custom Properties             */
/* ----------------------------- */
:root {
  /* font-family */
  --ff-heading: "Josefin Sans", sans-serif;
  --ff-body: "Alata", sans-serif;
  /* colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  /* font-sizes */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --body: 0.9375rem;
}

@media (min-width: 420px) {
  :root {
    /* font-sizes */
    --h1: 4.5rem;
    --h2: 3rem;
    --h3: 2rem;
  }
}

/* ----------------------------- */
/* Reset                         */
/* ----------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
/* Body */

body {
  font-family: var(--ff);
  font-size: var(--body);
  color: var(--dark-grayish-blue);
  /* min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr; */
}

/* Images */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

/* Animation */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------- */
/* Utility Classes               */
/* ----------------------------- */
.container {
  margin-inline: auto;
  max-width: 1114px;
  width: 87.2%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  background: hsl(var(--light));
  color: hsl(var(--dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-120%);
  transition: transform 500ms ease-in;
  position: absolute;
  z-index: 1000;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}

.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}
.text-dark-gray {
  color: var(--dark-gray);
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

.h1 {
  font-size: var(--h1);
  font-family: var(--ff-heading);
  font-weight: 300;
  line-height: 92%;
  text-transform: uppercase;
}

.h2 {
  font-size: var(--h2);
  font-family: var(--ff-heading);
  font-weight: 300;
  line-height: 97%;
  text-transform: uppercase;
}

.h3 {
  font-size: var(--h3);
  font-family: var(--ff-heading);
  font-weight: 300;
  line-height: 97%;
  text-transform: uppercase;
}

.nav {
  font-size: var(--h3);
  font-family: var(--ff-heading);
  font-weight: 300;
  line-height: 97%;
  text-transform: uppercase;
}
.nav__footer {
  font-size: var(--body);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 21px;
}
@media (min-width: 420px) {
  .nav {
    font-size: var(--body);
    font-family: var(--ff-body);
    font-weight: 400;
    line-height: 21px;
  }
}

.body {
  font-size: var(--body);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 165%;
}
.btn {
  font-size: var(--body);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 97%;
  text-transform: uppercase;
  letter-spacing: 0.31em;
}
.text-center {
  text-align: center;
}
/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */
header {
  padding-top: 1.25rem;
}
header.opened {
  background: var(--black);
  position: fixed;
  top: 0;
  width: 100%;
}
.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}
.nav__header--toggler {
  border: none;
  display: flex;
  background: transparent;
  cursor: pointer;
}
.nav__bar {
  display: none;
  padding-left: 0;
}
.nav__bar.opened {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  min-height: calc(100vh - 5rem);
  background-color: var(--black);
  text-align: left;
  flex-direction: column;
  padding-inline: 5%;
  transform: translateX(-50%);
  left: 50%;
  gap: 1.625rem;
}
.nav__bar--link {
  text-decoration: none;
  color: var(--white);
  position: relative;
}
.nav__bar--link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 1px;
  background-color: var(--white);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease-in;
}

.nav__bar--link:hover::after {
  width: 20px;
}

@media (min-width: 765px) {
  header {
    padding-top: 2.5rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__header--icon {
    display: none;
  }

  .nav__bar {
    display: flex;
    gap: 2rem;
    margin-block: 0;
  }
}
/* ----------------------------- */
/* Hero                         */
/* ----------------------------- */
#hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(/images/mobile/image-hero.jpg);
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 150px);
}
.hero__wrapper {
  border: solid white 2px;
  padding-block: 1.375rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 4rem;
  width: 100%;
  max-width: 1114px;

  color: var(--white);
}
@media (min-width: 420px) {
  #hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url(/images/desktop/image-hero.jpg);
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__container {
    min-height: 650px;
  }
  .hero__wrapper {
    border: solid white 2px;
    padding-block: 2.1875rem;
    padding-inline-start: 2.5625rem;
    padding-inline-end: 6.25rem;
    width: 70%;
  }
}
/* ----------------------------- */
/* BTN                         */
/* ----------------------------- */
.btn {
  padding-inline: 2.25rem;
  padding-block: 0.75rem;
  border: solid 1px var(--black);
  background-color: var(--white);
  transition: all 0.35s ease-in;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--black);
  color: var(--white);
}
/* ----------------------------- */
/* About                         */
/* ----------------------------- */
#about {
  padding-top: 6rem;
}

.about__text {
  text-align: center;
  padding-top: 3rem;
}
.about__text h2 {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  #about {
    position: relative;
    padding-top: 10rem;
  }
  .about__image {
    position: relative;
  }
  .about__text {
    position: absolute;
    width: 50%;
    text-align: left;
    padding-left: 6rem;
    padding-top: 6rem;

    left: 50%;
    z-index: 2;
    background-color: var(--white);
    bottom: 0;
  }
}
/* ----------------------------- */
/* Creations                     */
/* ----------------------------- */
#creation {
  padding-top: 6rem;
}
.creation__title {
  padding-bottom: 3rem;
}
.creation__title--heading {
  text-align: center;
}
.creation__title button {
  display: none;
}
.creation__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
.creation__card {
  position: relative;
  cursor: pointer;
  transition: all 0.35s ease-in;
}
.creation__card h3 {
  position: absolute;
  color: var(--white);
  z-index: 1000;
  left: 20px;
  bottom: 21px;
  transition: all 0.35s ease-in;
}
.creation__card:hover h3 {
  color: var(--black);
  z-index: 1000;
  position: absolute;
}
.creation__card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 0.35s ease-in;
}
.creation__card:hover::after {
  background: hsl(0 0% 100% / 0.7);
}
.mobile__btn--wrapper {
  display: flex;
  justify-content: center;
}
.mobile__btn {
  margin-top: 2.25rem;
}
@media (min-width: 768px) {
  #creation {
    padding-top: 11.5rem;
  }
  .creation__title--heading {
    text-align: left;
  }
  .creation__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5.0625rem;
  }
  .creation__title button {
    display: inline;
  }
  .creation__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
  }

  .creation__card h3 {
    position: absolute;
    color: var(--white);
    z-index: 1000;
    left: 40px;
    bottom: 34px;
    transition: all 0.35s ease-in;
  }
  .creation__card:hover h3 {
    color: var(--black);
    z-index: 1000;
    position: absolute;
  }
  .creation__card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    transition: all 0.35s ease-in;
  }
  .creation__card:hover::after {
    background: hsl(0 0% 100% / 0.7);
  }

  .mobile__btn {
    display: none;
  }
}
/* ----------------------------- */
/* Footer                         */
/* ----------------------------- */
footer {
  margin-top: 6rem;
  padding-block: 3.5rem;
  padding-inline: 1.75rem;
}
.footer__wrapper {
  display: grid;
  grid-template-areas:
    "logo"
    "nav"
    "social"
    "copy";
}
.footer__heading--logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}
.footer__socials {
  grid-area: social;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footer__social {
  position: relative;
}
.footer__social::after {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 0px;
  height: 1px;
  background-color: var(--white);
  left: 0%;
  transition: all 0.15s ease-in;
}
.footer__social:hover::after {
  width: 24px;
}
.footer__nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  padding-block: 1.5rem 2.5rem;
}
.footer__copy {
  grid-area: copy;
  text-align: center;
  padding-top: 1.125rem;
}
@media (min-width: 420px) {
  footer {
    margin-top: 11.5rem;
    padding-block: 2.75rem;
  }
  .footer__wrapper {
    display: grid;
    grid-template-areas:
      "logo social"
      "nav copy";
  }
  .footer__heading--logo {
    display: inline;
  }
  .footer__socials {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  .footer__nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding-top: 1.625rem;
    padding-bottom: 0;
  }
  .footer__copy {
    text-align: right;
    padding-top: 1.625rem;
  }
}
ul {
  padding: 0;
  margin: 0;
}
